header.qbheader {
  background: #212f3f;
  height: 58px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
header.qbheader ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header.qbheader .logo {
  height: 58px;
  float: left;
  width: 200px;
  background: #142334 url('../images/logo.png') no-repeat center center;
  text-indent: -500em;
  outline: none;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  header.qbheader .logo {
    background-image: url('../images/logo@2x.png');
    background-size: 150px 29px;
  }
}
header.qbheader .search-bar {
  width: 30%;
  min-width: 210px;
  max-width: 396px;
  height: 58px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  border-right: 1px solid #2a3b50;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header.qbheader .search-bar .search-input-field {
  background: #2b3a4a;
  border: 1px solid #626c78;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 100%;
  border-radius: 50px;
  padding: 3px;
  position: relative;
}
header.qbheader .search-bar .search-input-field input[type="text"] {
  z-index: 1;
  position: relative;
  width: 100%;
  border: none;
  padding-left: 10px;
  padding-right: 30px;
  outline: none;
  color: #fff;
  font-size: 15px;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header.qbheader .search-bar .search-input-field input[type="button"] {
  z-index: 2;
  position: absolute;
  right: 7px;
  top: 5px;
  width: 20px;
  height: 20px;
  text-indent: -500em;
  outline: none;
  background: transparent url('../images/search-icon.png') no-repeat center center;
  border: none;
}
header.qbheader .search-bar form {
  margin: 0;
  padding: 0;
}
header.qbheader ul.services-list {
  float: left;
}
header.qbheader ul.services-list li {
  float: left;
  width: 56px;
  height: 58px;
  border-right: 1px solid #2a3b50;
}
header.qbheader ul.services-list .cast a {
  background-image: url('../images/cast.png');
}
header.qbheader ul.services-list .find-friends a {
  background-image: url('../images/find-friends.png');
}
header.qbheader ul.services-list .messages a {
  background-image: url('../images/messages.png');
}
header.qbheader ul.services-list .notifications a {
  background-image: url('../images/notifications.png');
}
header.qbheader ul.services-list .email a {
  background-image: url('../images/email.png');
}
header.qbheader ul.services-list .world a {
  background-image: url('../images/world.png');
}
header.qbheader ul.services-list .flag a {
  background-image: url('../images/flag.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  header.qbheader ul.services-list .cast a,
  header.qbheader ul.services-list .find-friends a,
  header.qbheader ul.services-list .messages a,
  header.qbheader ul.services-list .notifications a,
  header.qbheader ul.services-list .email a,
  header.qbheader ul.services-list .world a,
  header.qbheader ul.services-list .flag a {
    background-size: 24px 24px;
  }
  header.qbheader ul.services-list .cast a {
    background-image: url('../images/cast@2x.png');
  }
  header.qbheader ul.services-list .find-friends a {
    background-image: url('../images/find-friends@2x.png');
  }
  header.qbheader ul.services-list .messages a {
    background-image: url('../images/messages@2x.png');
    background-size: 24px 15px;
  }
  header.qbheader ul.services-list .notifications a {
    background-image: url('../images/notifications@2x.png');
  }
  header.qbheader ul.services-list .email a {
    background-image: url('../images/email@2x.png');
  }
  header.qbheader ul.services-list .world a {
    background-image: url('../images/world@2x.png');
  }
  header.qbheader ul.services-list .flag a {
    background-image: url('../images/flag@2x.png');
  }
}
header.qbheader ul.services-list a {
  display: block;
  height: 100%;
  text-indent: -500em;
  outline: none;
  background-repeat: no-repeat;
  background-position: center center;
}
header.qbheader ul.services-list a:hover {
  background-color: #142334;
}
header.qbheader ul.user-panel {
  float: right;
}
header.qbheader ul.user-panel li {
  float: left;
}
header.qbheader ul.user-panel li a {
  display: block;
}
header.qbheader ul.user-panel a.logout,
header.qbheader ul.user-panel a.settings,
header.qbheader ul.user-panel a.info {
  text-indent: -500em;
  outline: none;
  height: 58px;
  width: 56px;
  border-left: 1px solid #2a3b50;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
}
header.qbheader ul.user-panel a.logout:hover,
header.qbheader ul.user-panel a.settings:hover,
header.qbheader ul.user-panel a.info:hover {
  background-color: #142334;
}
header.qbheader ul.user-panel a.logout {
  background-image: url('../images/logout.png');
}
header.qbheader ul.user-panel a.settings {
  background-image: url('../images/settings.png');
}
header.qbheader ul.user-panel a.info {
  background-image: url('../images/info.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  header.qbheader ul.user-panel a.logout,
  header.qbheader ul.user-panel a.settings,
  header.qbheader ul.user-panel a.info {
    background-size: 24px 24px;
  }
  header.qbheader ul.user-panel a.logout {
    background-image: url('../images/logout@2x.png');
  }
  header.qbheader ul.user-panel a.settings {
    background-image: url('../images/settings@2x.png');
  }
  header.qbheader ul.user-panel a.info {
    background-image: url('../images/info@2x.png');
  }
}
header.qbheader ul.user-panel .user-info {
  line-height: 58px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid #2a3b50;
}
header.qbheader ul.user-panel .user-info a {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
header.qbheader ul.user-panel .user-info a img {
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-right: 10px;
}
header.qbheader .mobile-menu {
  display: none;
  float: right;
  line-height: 58px;
  text-align: center;
  width: 58px;
  font-size: 25px;
  position: relative;
}
header.qbheader .mobile-menu .header-menu,
header.qbheader .mobile-menu #header-menu-toggle {
  display: none;
}
header.qbheader .mobile-menu label.menu-icon {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
header.qbheader .mobile-menu #header-menu-toggle:checked + .header-menu {
  display: block;
}
header.qbheader .mobile-menu .header-menu {
  font-size: 15px;
  position: absolute;
  top: 58px;
  right: 0;
  z-index: 1000000;
  background: #212f3f;
}
header.qbheader .mobile-menu .header-menu a {
  display: block;
  width: 300px;
  line-height: 115%;
  padding: 10px;
  -ms-text-align-last: right;
  text-align: left;
  color: #fff;
  text-decoration: none;
  border-top: 1px solid #334860;
}
header.qbheader .mobile-menu .header-menu a:hover {
  background: #2a3b50;
}
@media screen and (max-width: 1350px) {
  header.qbheader .search-bar {
    width: 20%;
    min-width: 150px;
  }
}
@media screen and (max-width: 1180px) {
  .user-panel .user-info {
    text-indent: -500em;
    outline: none;
    padding-right: 0;
  }
}
@media screen and (max-width: 1085px) {
  .user-panel {
    float: left;
  }
  .user-panel .user-info {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  header.qbheader .mobile-menu {
    display: block;
  }
  header.qbheader .search-bar {
    width: 60%;
    min-width: 150px;
    border-right: none;
  }
  .user-panel,
  .services-list {
    display: none;
  }
  header.qbheader .logo {
    width: 40px;
    margin-left: 20px;
    background-color: transparent;
    background-position: left center;
  }
}
body {
  margin: 0;
  padding: 0;
}
